<div class="card shadow" style="width: 18rem;">
    <img src="@Album.Image" class="card-img-top" alt="@Album.Name" />
    <div class="card-body">
        <h5 class="card-title">@Album.Name</h5>
        <h6 class="card-subtitle mb-3 text-muted">
            <span class="oi oi-map-marker"></span>
            @Album.AuthorName
        </h6>
        <div class="d-flex justify-content-between">
            <span>
                <span class="oi oi-clock mr-2"></span>
                @Album.TimeFormatted
            </span>
            <span>
                <span class="oi oi-infinity mr-2"></span>
                @Album.Raiting / 5 stars
            </span>
        </div>
        <button class="btn btn-primary" title="View" @onclick="@(async () => OnSelected.InvokeAsync(Album))">
            <i class="bi bi-binoculars"></i>
        </button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Album Album { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback<Album> OnSelected { get; set; }
}

